<h2>Mi seleccion</h2>
<table class="table table-hover">
  <thead>
    <td>Tema</td>
    <td>Descripcion</td>
    <td>Video</td>
    <td>Slide</td>
    <td>Acciones</td>
  </thead>
  <tbody>
    <tr *ngFor="let clase of listInteres$ | async">
      <td> <img [src]="clase.images" [alt]="clase.images"> {{clase.tema}}</td>
      <td>{{clase.descripcion}}</td>
      <td><a [href]="clase.video">Video</a></td>
      <td><a [href]="clase.slide">Slide</a></td>
      <td><input class="btn btn-outline-warning" type="button" value="Eliminar"></td>
      </tr>
  </tbody>
</table>
