<h2>Clases</h2>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Tema</th>
      <th>Descripcion</th>
      <th>Acciones</th>
      <th>Estado</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let clase of clases">
      <td> <img [src]="clase.images" [alt]="clase.images"> {{clase.tema}}</td>
      <td>{{clase.descripcion}}</td>
      <td>
        <input (click)="addToInteres(clase)" class="btn btn-outline-danger" type="button" value="Agregar">

        <app-number-likes [(like)]="clase.like"></app-number-likes>
      </td>
        <td>
          <span class="badge text-bg-success" *ngIf="clase.visto==true">Visto</span>
          <span class="badge text-bg-warning"*ngIf="clase.visto==false">Sin ver</span></td>
      </tr>
  </tbody>
</table>
